

@mixin flex($direction, $justify, $align ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin border($color) {
    border: 6px solid $color; 
}

@mixin mainColor($mainColor) {
    background-color: #A5F1E9;
}

@mixin footer($footerColor) {
    background-color:#404040;
}

// @mixin font($fontstyle) {
//     font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
// }

@mixin text-styling($size){
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size:$size;
    text-decoration: underline;
}
